<div class="ui bottom attached segment">

  <div class="ui inverted labeled left icon thin inline vertical sidebar menu" id="sidebar">
    <a (click)="goTo('dashboard/certificates')" class="item">
      <i class="file icon"></i> Certificates
    </a>
    <a (click)="goTo('dashboard/companies')" class="item">
      <i class="building icon"></i> Companies
    </a>
    <a (click)="goTo('dashboard/clients')" class="item">
      <i class="users icon"></i> Clients
    </a>
  </div>
  <div>
    <div class="ui basic segment">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>