<div class="ui header">
    {{title}}
    <action-buttons (addEvent)="addCompany()" (editEvent)="editCompany(selected[0])" (deleteEvent)="deleteCompany()" [selected]="selected"></action-buttons>
</div>
<table class="ui selectable structured celled table">
    <thead>
        <tr>
            <th class="collapsing">
                <div id="checkAll" class="ui fitted checkbox">
                    <input [ngModel]="allSelected" (ngModelChange)="selectAll()" type="checkbox">
                    <label></label>
                </div>
            </th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{'selectable':selected[company.id]}" *ngFor="let company of companies">
            <td class="collapsing">
                <div class="ui fitted checkbox company-checkbox">
                    <input (change)="itemSelected(company.id,$event.target.checked)" type="checkbox">
                    <label></label>
                </div>
            </td>
            <td>{{company.name}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3">
                <div class="ui right floated pagination menu">
                    <a class="icon item">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
    </tfoot>
</table>

<!-- Add Modal -->
<div class="ui modal" id="addModal">
    <i class="close icon"></i>
    <div class="header">
        Add Company
    </div>
    <div class="content">
        <div class="ui fluid input">
            <input id="newCompany" type="text" placeholder="Name">
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            Save
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<!-- -->


<!-- Edit Modal -->
<div class="ui modal" id="editModal">
    <i class="close icon"></i>
    <div class="header">
        Edit Company
    </div>
    <div class="content">
        <div class="ui fluid input">
            <input id="editCompany" type="text" placeholder="Name">
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            Save
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<!-- -->

<!-- Delete Modal -->
<div class="ui modal" id="deleteModal">
    <i class="close icon"></i>
    <div class="header">
    <div *ngIf="selected.length === 1">Delete Company</div>
    <div *ngIf="selected.length > 1">Delete Companies</div>
    </div>
    <div class="content">
        Are you sure ?
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            Delete
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<!-- -->